.section {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color: var(--backgroundColor2);
    padding: 2rem;
    border-radius: 12px;
}

.section h2 {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.button {
    font: inherit;
    cursor: pointer;
    background: var(--myprimary);
    border: 1px solid var(--myprimary);
    color: var(--mytextColor);
    padding: 0.75rem 2rem;
    border-radius: 20px;
}
  
.button:focus {
    outline: none;
}
  
.button:hover,
.button:active {
    background-color: var(--myprimary1);
    border-color: var(--myprimary1);
}